.footer-copyright {
    width: 100%;
}

/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 580px) {
    .footer-copyright {
        position: relative;
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/** -- Social buttons -- **/

/** yandex button **/

i.fa.fa-yandex {
    font-family: "Verdana Narrow", Verdana, "Arial Narrow", Tahoma, Arial;
    font-style: normal;
    font-stretch: condensed;
}

.btn-yandex {
    color: #000;
    background-color: #ffd630;
    border-color: rgba(191, 153, 0, 0.2);
}

.btn-yandex:hover,
.btn-yandex:focus,
.btn-yandex.focus,
.btn-yandex:active,
.btn-yandex.active,
.open > .dropdown-toggle.btn-yandex,
:not(.btn-yandex i) {
    color: #d83933;
    background-color: #ffdb4c;
    border-color: rgba(191, 153, 0, 0.2);
}

.btn-yandex:active,
.btn-yandex.active,
.open > .dropdown-toggle.btn-yandex {
    background-image: none;
}

.btn-yandex.disabled,
.btn-yandex[disabled],
fieldset[disabled] .btn-yandex,
.btn-yandex.disabled:hover,
.btn-yandex[disabled]:hover,
fieldset[disabled] .btn-yandex:hover,
.btn-yandex.disabled:focus,
.btn-yandex[disabled]:focus,
fieldset[disabled] .btn-yandex:focus,
.btn-yandex.disabled.focus,
.btn-yandex[disabled].focus,
fieldset[disabled] .btn-yandex.focus,
.btn-yandex.disabled:active,
.btn-yandex[disabled]:active,
fieldset[disabled] .btn-yandex:active,
.btn-yandex.disabled.active,
.btn-yandex[disabled].active,
fieldset[disabled] .btn-yandex.active {
    background-color: #ffd630;
    border-color: rgba(191, 153, 0, 0.2);
}

.btn-yandex .badge {
    color: #d83933;
    background-color: #ffffff;
}

.btn-yandex i {
    color: #d83933;
}

/* windows button */

.btn-windows {
    color: #ffffff;
    background-color: #2672ec;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-windows:hover,
.btn-windows:focus,
.btn-windows.focus,
.btn-windows:active,
.btn-windows.active,
.open > .dropdown-toggle.btn-windows {
    color: #ffffff;
    background-color: #5a94f1;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-windows:active,
.btn-windows.active,
.open > .dropdown-toggle.btn-windows {
    background-image: none;
}

.btn-windows.disabled,
.btn-windows[disabled],
fieldset[disabled] .btn-windows,
.btn-windows.disabled:hover,
.btn-windows[disabled]:hover,
fieldset[disabled] .btn-windows:hover,
.btn-windows.disabled:focus,
.btn-windows[disabled]:focus,
fieldset[disabled] .btn-windows:focus,
.btn-windows.disabled.focus,
.btn-windows[disabled].focus,
fieldset[disabled] .btn-windows.focus,
.btn-windows.disabled:active,
.btn-windows[disabled]:active,
fieldset[disabled] .btn-windows:active,
.btn-windows.disabled.active,
.btn-windows[disabled].active,
fieldset[disabled] .btn-windows.active {
    background-color: #2672ec;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-windows .badge {
    color: #2672ec;
    background-color: #ffffff;
}
